<!--Hanjun Kim and Christian McKinnon, CS340, 3/15/2024 
Code Adapted from CS340 Canvas Module Week 6: Exploration - Web Application Technology and Steps 3 and 7: CS 340 GitHub Guide

Citations:
https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) 
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data -->

<!-- movies.hbs for our Movies Entity: Create, Read, Update, and Delete Functionality -->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CS 340: Project Streamathon</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="robots" content="noindex,noarchive, nofollow" />
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
</head>
<body>
     <!-- Header for Project Step 6 Final -->
    <header>
        <h1>Streamathon Database Management System</h1>
    </header>
    <!--A navigation bar with 7 Entities and 1 Homepage-->
    <nav>
        <a href = "index">Home</a>
        <a href = "movies">Movies</a>
        <a href = "users">Users</a>
        <a href = "subscriptions">Subscriptions</a>
        <a href = "subtiers">Subscription Tiers</a>
        <a href = "genres">Genres</a>
        <a href = "ratings">Ratings</a>
        <a href = "movgentable">MoviesGenresTable</a>
    </nav>
     <main>
        <section>
    <head>
    <title>Movies</title>
    <script language="JavaScript">
		function showform(dowhat) {
			// There are only 3 actions here as we do not have a separate "DELETE" form
            // We don't show UPDATE on the main page
            if (dowhat == "all") {
                document.getElementById("browse").style.display = "block";
                document.getElementById("insert").style.display = "block";
                document.getElementById("update").style.display = "block";
            } else if (dowhat == "insert") {
                document.getElementById("browse").style.display = "none";
                document.getElementById("insert").style.display = "block";
                document.getElementById("update").style.display = "none";
            } else if (dowhat == "update") {
                document.getElementById("browse").style.display = "none";
                document.getElementById("insert").style.display = "none";
                document.getElementById("update").style.display = "block";
            } else {
                // Otherwise, we simply display options
                document.getElementById("browse").style.display = "block";
                document.getElementById("insert").style.display = "block";
                document.getElementById("update").style.display = "none";
            }
        }
    function newMovie() { showform('insert'); }
    function updateMovie(newMovieID, newTitle, newDirector, newYear, newDuration, newLanguage) {
        showform('all');
        document.getElementById("update-movie-id").value = newMovieID;
        document.getElementById("input-update-title").value = decodeURIComponent(newTitle);
        document.getElementById("input-update-director").value = newDirector;
        document.getElementById("input-update-year").value = newYear;
        document.getElementById("input-update-duration").value = newDuration;
        document.getElementById("input-update-language").value = newLanguage;
        
     }
    function deleteMovie(newMovieID){ showform ('delete'); }
    function browseMovieMovie() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseMovieMovie()">

<h2>Movies Entity</h2>
<p>Within this entity, a database administrator can ADD, UPDATE, or DELETE a movie from 
    the Streamathon catalog. If a movie is deleted, its corresponding Rating (in the Ratings entity) 
    will be deleted as well. Additionally, a Movie's attributes can be updated here.</p>

<!-- UPDATE -->
<div id="update">
  <legend><h2 style="text-align: center;">Update Movie</h2>
  <p>The below is a form to update a single Movie entry by movieID. The movie Title and Year 
    are <strong>required</strong>.
  </p>
    <form id="update-movie-form-ajax">
        <fieldset class = "standard-form">
        
          <input type="hidden" name="update-movie-id" id="update-movie-id"/>

          <label for="input-update-title">Title: </label>
          <input type="text" name="input-update-title" id="input-update-title" required>  
          
          <label for="input-update-director">Director: </label>
          <input type="text" name="input-update-director" id="input-update-director">

          <label for="input-update-year">Year:</label>
          <input type="number" id="input-update-year" name="input-update-year" required>

          <label for="input-update-duration">Duration:</label>
          <input type="text" id="input-update-duration" name="input-update-duration">

          <label for="input-update-language">Language:</label>
          <input type="text" id="input-update-language" name="input-update-language">

          <input class="btn" type="submit" id="UpdateSaveMove" value="Update" onClick="browseMovieMovie()">
          <input class="btn" type="button" value="Cancel" onClick="browseMovieMovie()">
        </fieldset>
	</form>
    </legend>
<script src="./js/update_movie.js"></script> 
</div>
<p></p>

<!-- BROWSE / DELETE -->
<div id="browse">
<table border="1" cellpadding="2", id = "movie-table">
  <tr>
     <th colspan="8" style="text-align: center; font-size: 1.2em;">Movies</th>
    <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>DELETE</th>
            <th>EDIT</th>
        </tr>
  </tr>
  {{#each data}}
  <tr data-value = "{{this.[movieID]}}">
  </tr>
   {{!-- Body section --}}
        {{!-- For each row, print the movieID, title, director, year, duration, and language in order --}}
        
            <td>{{this.[movieID]}}</td>
            <td>{{this.[title]}}</td>
            <td>{{this.[director]}}</td>
            <td>{{this.[year]}}</td>
            <td>{{this.[duration]}}</td>
            <td>{{this.[language]}}</td>
            <td><button onclick="deleteMovie({{this.[movieID]}})">Delete</button></td>
            <td><button onClick='updateMovie({{this.[movieID]}}, "{{this.[title]}}", "{{this.[director]}}",
                                            "{{this.[year]}}", "{{this.[duration]}}", "{{this.[language]}}")'>Edit</button></td>
        </tr>
        {{/each}}
</table>
<script src="./js/delete_movie.js"></script>

</div> 
<!-- INSERT -->
<div id="insert">
    <legend><h2 style="text-align: center;">Add Movie:</h2>
    <p>This is a form to add a new Movie entry into the database. Neither title nor year can be NULL. Movie titles in the database 
        must be UNIQUE! If a duplicate title is added, no entry will be added to the database.
    </p>
    <form id="add-movie-form">
        <fieldset class = "standard-form">
    <label for="input-title">Title:&nbsp;</label>
    <input type="text" name="input-title" id="input-title" required> 
    
    <label for="input-director">Director:&nbsp;</label>
    <input type="text" name="input-director" id="input-director">

    <label for="input-year">Year:&nbsp;</label>
    <input type="number" name="input-year" id="input-year" required>

    <label for="input-duration">Duration:&nbsp;</label>
    <input type="number" name="input-duration" id="input-duration">

    <label for="input-language">Language:&nbsp;</label>
    <input type="text" name="input-language" id="input-language">
  
    <input class="btn" type="submit" id="addMovie" value="Add" onClick="browseMovieMovie()">
    <input class="btn" type="button" value="Cancel" onClick="browseMovieMovie()">
    
    </fieldset>
	</form> 
    </legend>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_movie.js"></script>
</div>
       </section>
    </main>
<p><br><br><br><br><br></p>
<!-- Copyright of our team as footer -->
<footer>
    <p>
        &copy; 2024 Hanjun Kim & Christian McKinnon (Team AceSync - Group 10) for CS 340
    </p>
</footer>
</body>
</html>